body {
  background-image: url("Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color:#495e66;}

@font-face {
font-family: "night";
src: url("nightmare.otf") format("opentype");
}
@font-face {
font-family: "charm";
src: url("Charming.otf") format("opentype");}




/*тексты*/
.text{
  line-height:3vw;
  position:absolute;
  top: 5vw;
  left:7vw;
  width:clamp(700px, 40vw, 2000px);
  height:clamp(300px, 20vw, 1080px);
}
.kanicoName{
  font-family: charm;
  font-size: 4em;
  color: white;
  height: 1em;

}
  
.name{
  font-family: night;
  font-size: 15em;
  color: #bd083f;
  height: 0.9em;
  display: flex;
  align-items: center;
}
  
.date{
  font-size: 3em;
  color: #c7ccd0;
  height: 1em;
  }

.place{
  font-size: 3em;
  color: #c7ccd0;
  height: 1em;
  }
  
.time{
  font-size: 2.5em;
  color: #c7ccd0;
  padding-bottom: 0.5em;}
  
  
  
  
  
/*Контейнеры*/
.container{
  position: relative;
  }
  
/*.container .png {
  width: 50px;
  height: 50px;
  border: solid;
  }*/

.muzhik{
  position: fixed;
  bottom: 0;
  height:70%; 
  width:auto;
  right:5%;}
  
.tyan{
  position: fixed;
  bottom: 0;
  height:70%;
  width:auto;
  right:-2%;}

.frame{
  position:relative;
  margin-top:10vw;
  width:clamp(800px, 40vw, 2000px);
  height:clamp(300px, 8vw, 1080px);
}
  
/*.container .ticket {
  position: absolute;
  top: 85%;
  left: 10%;}
 
.container .cos {
  position: absolute;
  top: 85%;
  left: 44%;}*/




/*кнопки*/
.container .btn {
  width: clamp(270px, 9em, 2000px);
  height: clamp(90px, 3em, 2000px);
  font-size: 2em;
  padding: 2%;
  border: 5px white;
  cursor: pointer;
  border-radius: 40px;
  background-color: rgba(255,255,255,0.4);
  margin-top:0.5em;
  margin-right:2em;}
  
 
.container .btn span{
  color: #ffffff;
  filter:opacity(100%);}

/*.container .btn:hover {
 background-color: rgba(255,255,255);}*/
/*.container .btn:hover span{
	color: #2b2c2e;}*/

.ticket:hover {
	background-color: rgba(255,255,255);
	color: #2b2c2e;
}
.ticket:hover span{
color: #2b2c2e;}